body {
	background: black;
}

footer {
	position: relative;
}

nav {
	position: absolute;
	text-align: center;
	width: 50%;
	left: 25%;
}

nav ul {
	padding: 0;
	margin-bottom: 4em;
	margin-top: 2em;
}

nav li {
	display: inline-block;
}

nav li a {
	color: #fff;
	font-family: Consolas, monaco, monospace;
	font-size: .9em;
	padding: 5px 10px;
	text-decoration: none;
}

nav li:after {
	color: #fff;
	font-family: Consolas, monaco, monospace;
	content: "|";
	height: .9em;
}

nav li:last-child:after {
	content: "";
}

nav a:hover {
	color: rgb(150,150,150);
}

h1 {
	color: #fff;
	font-family: Consolas, monaco, monospace;
	text-align: center;
	padding: 1em;
	margin-bottom: 1em;
}

p {
	color: #fff;
	font-family: Consolas, monaco, monospace;
	margin: 0 3em 2em 3em;
	text-indent: 2em;
}