body {
	background: black;
}

#face {
	position: absolute;
	bottom: 36%;
	height: 64%;
	left: 30%;
}

#enter {
	position: absolute;
	width: 10%;
	height: 6.6%;
	background-color: rgb(225,225,225);
	color: black;
	text-align: center;
	font-family: Consolas, monaco, monospace;
	left: 45%;
	top: 70%;
	font-size: 1.1em;
	letter-spacing: .1em;
	border-radius: .25em;
	cursor: pointer;
}

#enter:hover {
	background-color: rgb(150,150,150);
	color: rgb(25,25,25);
}

nav {
	position: absolute;
	bottom: 10%;
	text-align: center;
	width: 50%;
	left: 25%;
}

nav ul {
	padding: 0;
	margin: 0 auto;
}

nav li {
	display: inline-block;
}

nav li a {
	color: #fff;
	font-family: Consolas, monaco, monospace;
	font-size: .9em;
	padding: 5px 10px;
	text-decoration: none;
}

nav li:after {
	color: #fff;
	font-family: Consolas, monaco, monospace;
	content: "|";
	height: .9em;
}

nav li:last-child:after {
	content: "";
}

nav a:hover {
	color: rgb(150,150,150);
}

p#narrowWindowNoticer {
	font-family: Consolas, monaco, monospace;
	display: none;
}

@media screen and (max-width: 800px) {

	#enter {
		width: 68px;
		font-size: .8em;
	}

	nav {
		left: 0px;
		width: 100%;
	}

}

@media screen and (max-width: 400px) {

	p#narrowWindowNoticer {
		display: inline;
	}

	#enter {
		display: none;
	}

}